<ul class="nav with-icon">
    <li><a href="{{site.baseurl}}/docs/{{site.version}}"><i class="icn-left xn xn-home"></i>Home<i class="icn-right xn xn-nav"></i></a></li>
    <li><a href="{{site.baseurl}}/docs/{{site.version}}/getting-started.html"><i class="icn-left xn xn-home"></i>Getting Started<i class="icn-right xn xn-nav"></i></a></li>
    <li><a href="{{site.baseurl}}/docs/{{site.version}}/configuration.html"><i class="icn-left xn xn-home"></i>Configuration<i class="icn-right xn xn-nav"></i></a></li>
    <li><a href="{{site.baseurl}}/docs/{{site.version}}/routing.html"><i class="icn-left xn xn-home"></i>Routing<i class="icn-right xn xn-nav"></i></a></li>
    <li><a href="{{site.baseurl}}/docs/{{site.version}}/providers.html"><i class="icn-left xn xn-home"></i>Providers<i class="icn-right xn xn-nav"></i></a></li>
    <li><a href="{{site.baseurl}}/docs/{{site.version}}/middlewares.html"><i class="icn-left xn xn-home"></i>Middlewares<i class="icn-right xn xn-nav"></i></a></li>
    <li><a href="{{site.baseurl}}/docs/{{site.version}}/themes-and-templating.html"><i class="icn-left xn xn-home"></i>Themes & Templating<i class="icn-right xn xn-nav"></i></a></li>
</ul>
